* {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    
    /* FONT */
    font-family: 'Poppins', sans-serif;
    line-height: 1.7;
    word-spacing: 1px;
    letter-spacing: .5px;
}

:root {

    /*PRIMARY COLORS*/
    --color-light: rgba(255, 255, 255, 0.377);
    --color-dark: #262626;
    --color-bg: #f0f0f0;
    --color-main1: #b10001;
    --color-main2: #ff9e0c;
    --color-gradient: linear-gradient(90deg, rgba(177, 0, 1, 1) 0%, rgba(255, 158, 12, 1) 100%);
    --color-gradient2: linear-gradient(0deg, rgba(177, 0, 1, 1) 0%, rgba(255, 158, 12, 1) 100%);
    --color-gradient2r: linear-gradient(180deg, rgba(177, 0, 1, 1) 0%, rgba(255, 158, 12, 1) 100%);
    --color-mechanic: rgba(255, 255, 255, 0.774);
    --card-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.219);
    
    /*BACKUP COLORS*/
    --color-success: #00bf8e;
    --color-warning: #ecb10e;
    --color-danger: #f0412a;
    --color-danger-variant: rgb(194, 30, 9);
    --color-sick: #7523fa;
    --color-white: #fff;

    --container-width-lg: 95%;
    --container-width-md: 90%;
    --container-width-sm: 94%;

    --transition: all 200ms ease;
}

body {
    background: var(--color-bg);
}

.container {
    width: var(--container-width-lg);
    margin: 0 auto;
}

h1, h2, h3, h4 {
    line-height: 1.2;
}

h1 {
    font-size: 2.4rem;
}

h2 {
    font-size: 1.8rem;
    color: var(--color-dark);
}

h3 {
    font-size: 1.6rem;
    color: var(--color-dark);
}

h4 {
    font-size: 1.3rem;
}

p {
    font-weight: 200;
    color: var(--color-dark);
}

a {
    color: var(--color-dark);
}

img {
    width: 100%;
    display: block;
    object-fit: cover;
}